<template>
    <div class="panel panel-default">
        <div class="panel-heading"><slot></slot></div>
        <div class="panel-body">
            <!-- spinner -->
            <i v-if="!records.length" class="fa fa-circle-o-notch fa-spin"></i>
            <!-- records from ajax -->
            <p v-else v-for=" record in records">
                {{record.display}} : {{record.value}}
            </p>

        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                records : [],
            }
        },
        mounted() {
            axios
                .get(this.endPoint)
                .then((response) => {
                    this.records = response.data
                })
        },
        props: ['endPoint'],
    }
</script>
